@page
@model ASP_Razor_TeamEXPFarmers.Pages.VideoGames.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<header>
    <h1>@Model.VideoGame.Title</h1>
    <p>
        @Model.VideoGame.Description
    </p>
</header>

<div>
    <h4>VideoGame</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGame.CoverImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoGame.CoverImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGame.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoGame.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGame.PEGI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoGame.PEGI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGame.DifficultyLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoGame.DifficultyLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGame.MatureContentLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoGame.MatureContentLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGame.MatureContentDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoGame.MatureContentDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGame.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoGame.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGame.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoGame.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoGame.InStockQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoGame.InStockQuantity)
        </dd>
    </dl>
</div>
@if(HomePage.Name == HomePage.INDEX)
{
    <a class="btn btn-secondary" 
        asp-page="/Index">&lt;&lt; Back</a>    
    <a class="btn btn-warning" asp-page="/MyBasket" 
        asp-route-id="@Model.VideoGame.VideoGameID">Add to Basket
    </a>
}
else
{
    <div>
        <a class="btn btn-secondary" 
            asp-page="./Index">&lt;&lt; Back</a> 
        <a class="btn btn-success" asp-page="./Edit" 
            asp-route-id="@Model.VideoGame.VideoGameID">Edit</a>
    </div>
}
