@page
@model ASP_Razor_TeamEXPFarmers.Pages.VideoGames.DetailsModel
@using ASP_Razor_TeamEXPFarmers.Models

@{
    if (HomePage.Name == HomePage.INDEX)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_StaffLayout";
    }

    ViewData["Title"] = @Model.VideoGame.Title + " - DigiGame";
}

<header>
    <h1>@Model.VideoGame.Title</h1>
    <h5>Release Date: @Model.VideoGame.ReleaseDate.ToLongDateString()</h5>
    <h5>
        Platform(s): 
        @foreach (Platform platform in Model.VideoGame.Platforms)
        {
            <span>@platform.PlatformID, </span>
        }
    </h5>
    <h5>Age Rating: @Model.VideoGame.PEGI</h5>
    <img src="/images/@Model.VideoGame.CoverImage" height=350 width=300 alt="Game cover">
</header>

<section>
    <br/>
    <h1>£@Model.VideoGame.Price.ToString("0.00")</h1>
    
    @if (Model.VideoGame.InStockQuantity > 0)
    {
        <h3 style="color: green">@Model.VideoGame.InStockQuantity units in stock!</h3>
    }
    else
    {
        <h3 style="color: red">Out of stock!</h3>
    }

    <br/>
    <h5>Genre: @Model.VideoGame.Genre</h5>
    <h5>Difficulty Level: @Model.VideoGame.DifficultyLevel</h5>
    <h5>Mature Content Level: @Model.VideoGame.MatureContentLevel</h5>

    <p><i>Mature Content Description: @Model.VideoGame.MatureContentDescription</i></p>

    <p>@Model.VideoGame.Description</p>
</section>

<div>
    <a class="btn btn-success">Add to Basket</a> 
    <a class="btn btn-info" asp-page="../Index">Back to List</a>
</div>
