@using ASP_Razor_TeamEXPFarmers.Models
@model Person


<div class="card-body">
    <h5 class="card-title">Personal Details</h5>
    <hr />
    <div class="card-text">
        <strong>
            @Html.DisplayNameFor(model => model.FirstName) :
        </strong>
        <span>
            @Html.DisplayFor(model => model.FirstName)
        </span><br/>
        <strong>
            @Html.DisplayNameFor(model => model.LastName) :
        </strong>
        <span>
            @Html.DisplayFor(model => model.LastName)
        </span><br/>
        <strong>
            Phone :
        </strong>
        <span>
            @Html.DisplayFor(model => model.ContactNumber)
        </span><br/>
        <strong>
            DoB :
        </strong>
        <span>
            @Html.DisplayFor(model => model.DateOfBirth)
        </span><br/>
        <strong>
            Email :
        </strong>
        <span>
            @Html.DisplayFor(model => model.Email)
        </span><br/>
    </div>
</div>

@*<section>
    <h4>Personal Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
</section>*@


