@page
@model ASP_Razor_TeamEXPFarmers.Pages.MyAccountModel

@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer Details</h1>

<div>
    <h4>@Model.Person.FullName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>
    </dl>
</div>
<div>
    <h2>Address</h2>
    <p>
        House Number: @Model.Person.Address.HouseNo<br />
        House Name: @Model.Person.Address.HouseName<br />
        Street: @Model.Person.Address.Street<br />
        City: @Model.Person.Address.City<br />
        Postcode: @Model.Person.Address.Postcode
    </p>
</div>
<div>
    <h2>Payment Card</h2>
    <p>
        Card Number: @Model.Person.Payment.PaymentCardNo<br />
@*       Start Month: @Model.Person.Payment.CardStartMonth<br />
        Start Year: @Model.Person.Payment.CardStartYear<br />*@
        Expiry Month: @Model.Person.Payment.CardExpiryMonth<br />
        Expiry Year: @Model.Person.Payment.CardExpiryYear<br />
        CSV: @Model.Person.Payment.CardCSV
    </p>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.PersonID" 
        class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-success">Back to List</a>
</div>
