@page
@model ASP_Razor_TeamEXPFarmers.Pages.MyAccountModel

@{
    ViewData["Title"] = "Customer Details";
}

<header class="jumbotron">
    
    <h1>Customer Account</h1>
    <h2>@Model.Person.FullName</h2>

</header>

<div class="card-deck">

  <div class="card">
    <img src="~/images/person.png" class="card-img-top" 
        style="width:90%" alt="Person Icon">
    <partial name="Customers\_PersonView" model="Model.Person"></partial>
    <a asp-page="Customers/Edit" 
        asp-route-id="@Model.Person.PersonID" 
        class="btn btn-success">
        Edit
    </a>
  </div>
  
  <div class="card">
    <img src="~/images/house.jpeg" class="card-img-top" alt="Address Icon">
    <partial name="Addresses\_AddressView" model="Model.Person.Address"></partial>
    <a asp-page="Addresses/Edit" 
        asp-route-id="@Model.Person.AddressID" 
        class="btn btn-success">
        Edit
    </a>
  </div>

  <div class="card">
    <img src="~/images/PaymentCard.png" class="card-img-top" alt="Person Icon">
    <partial name="Customers\_PersonView" model="Model.Person"></partial>
    <a asp-page="/Edit" 
        asp-route-id="@Model.Person.PaymentID" 
        class="btn btn-success">
        Edit
    </a>
  </div>
</div>

@*<partial name="Customers\_PersonView" model="Model.Person"></partial>

<a asp-page="Customers/Edit" 
    asp-route-id="@Model.Person.PersonID" 
    class="btn btn-success">
    Edit
</a>

<div>
    <h4>Address</h4>
    <p>
        House Number: @Model.Person.Address.HouseNo<br />
        House Name: @Model.Person.Address.HouseName<br />
        Street: @Model.Person.Address.Street<br />
        City: @Model.Person.Address.City<br />
        Postcode: @Model.Person.Address.Postcode
    </p>
    <a asp-page="Addresses/Edit" asp-route-id="@Model.Person.AddressID" 
        class="btn btn-success">Edit</a>
</div>
<div>
    <h4>Payment Card</h4>
    <p>
        Card Number: @Model.Person.Payment.PaymentCardNo<br />
       Start Month: @Model.Person.Payment.CardStartMonth<br />
        Start Year: @Model.Person.Payment.CardStartYear<br />
        Expiry Month: @Model.Person.Payment.CardExpiryMonth<br />
        Expiry Year: @Model.Person.Payment.CardExpiryYear<br />
        CSV: @Model.Person.Payment.CardCSV
    </p>
    <a asp-page="Payments/Edit" asp-route-id="@Model.Person.PaymentID" 
        class="btn btn-success">Edit</a>
</div>*@

