@page
@model ASP_Razor_TeamEXPFarmers.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].PaymentCardNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].CardStartMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].CardStartYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].CardExpiryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].CardExpiryYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].CardCSV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentCardNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardStartMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardStartYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardExpiryMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardExpiryYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardCSV)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PaymentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PaymentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PaymentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
