@page
@model ASP_Razor_TeamEXPFarmers.Pages.Staffs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Staff.FullName</h1>

<div>
    <h4>Personal Details</h4>
    <hr />
        <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.JobPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.JobPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Address.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staff.PersonID" 
        class="btn btn-success">Edit Personal Details</a> |
    <a asp-page="../Addresses/Edit" asp-route-id="@Model.Staff.AddressID" 
        class="btn btn-secondary">Edit Address</a> |
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
